<%-include('partials/header')%>
<br><br><br><br><br>
<h1 class="conth">About</h1>
<p class="cont"><%=aboutcontent%></p>
<p class="cont">This website is developed by PIYUSH JASAIWAL</p>
<p class="cont">Happy Journaling 🙃</p>
<%-include('partials/footer')%>
