<%-include('partials/header')%>
<br><br><br><br><br>
<h1 class="conth">Contact</h1>
<br>
<p class="cont"><%=contactcontent%></p>
<p class="cont">Feel free to contact us via:</p>
<p class="cont">Email2: piyushjasaiwal_2k19co273@dtu.ac.in</p>
<p class="cont">Call us: 9821717609</p>
<%-include('partials/footer')%>
